<div class="flex flex-col h-screen w-screen">
  <header class="bg-red-500 sticky">
    <h1>MegaHAL 9000</h1>
  </header>

  <main class="bg-green-500 grow">
    <%= turbo_frame_tag "messages" do %>
      <h3>(MegaHAL joins the chat)</h3>
    <% end %>
  </main>

  <footer class="bg-blue-500 sticky top-[100vh]">
    <%= turbo_frame_tag "chat" do %>
      <%= form_with url: chat_say_path, data: { controller: "name", action: "turbo:submit-start->name#echo" } do |form| %>
        <%= form.hidden_field :start, value: true %>
        <%= form.text_field :name, placeholder: "What is your name, human?", class: "w-full" %>
      <% end %>
    <% end %>
  </footer>
</div>
<%= turbo_stream_from "chat" %>