<turbo-stream action="append" target="messages">
  <template>
    <% if @message.nil? %>
      <h3>(<%= @name %> joins the chat)</h3>
    <% else %>
      <h3><%= @name %>: <%= @message %></h3>
    <% end %>
    <h3>MegaHAL: <%= @response %></h3>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="chat">
  <template>
    <%= form_with url: chat_say_path do |form| %>
      <%= form.hidden_field :name, value: @name %>
      <%= form.text_field :message %>
    <% end %>
  </template>
</turbo-stream>
